* {
	margin: 0;
	padding: 0;

	-webkit-font-smoothing: antialiased;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::selection {
  background: #bfa57c;
	color: #fff;
}

body {
	color: #a48d66;
	font: 14px/23px proxima-nova-alt, "Proxima Nova Alt", sans-serif;
  background-color: #ededed;
}

section,header {
  background-color: #fff;
}

h1, h2, h3, h4, b {
	font-weight: 300;
	font-family: bree-web, Bree, sans-serif;
}
	h2 {
		font-size: 28px;
		padding-bottom: 60px;
	}
	b {
		font-weight: 500;
		font-size: 16px;

		color: #c3522f;
	}
  .text-black {
    color:#333;
  }
  .chinese-p{
    text-indent: 2em;
  }
.logo{
  height:95px;
  background: url('../img/logo.png') no-repeat scroll top left;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
header #top {
  height:95px;
}
.branding {
  margin: 0;
  margin-top: 20px;
}
.branding a {
  display: block;
  padding: 15px 25px;
  color: #b94a48;
  font-family: Helvetica, Arial, sans-serif;
}
.branding a:hover {
  color: #a3403e;
  text-decoration: none;
}

/*  Navbar  */
.navbar {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0px;
  background: none;
  border-radius: 0px;
  border-top: 1px solid #d2d0d0;
  border-bottom: 1px solid #d2d0d0;
}
.navbar-nav {
  margin-top: 0px;
}

.navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 31px;
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  background-color: #f2f2f2;
}
.navbar-form {
  margin-top: 0px;
  margin-bottom: 0px;
}
.navbar-form .search-box {
  height:31px;
  border-radius: 0px;
  padding: 4px 14px;
  border-left-style: none;
}
.navbar-form .input-group-addon {
  padding: 4px 8px;
}
.navbar-form .input-group-addon:first-child {
  height:31px;
  background-color: #FFFFFF;
  border: 1px solid #d2d0d0;
  border-radius: 0px;
  border-right-style: none;
}
.dropdown .caret {
margin-top: 13px;
margin-left: 2px;
}
/* Donate */
.donate {
  background-color: #ebebeb;
  border-top: 1px solid #dedddd;
  border-bottom: 1px solid #dedddd;
  padding: 20px 0px;
}
.donate .alipay {
  margin-top:20px;
}
/* main */
.main {
  padding: 20px 0px;
}
/* lectures showcase */
.lecturebox {
  margin-bottom:30px;
  height:300px;
  background: #eeeeee url('../img/diamond_upholstery.png') repeat scroll top left;
  border-radius: 8px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  border-color: rgba(186, 184, 185, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: 0 0 8px rgba(186, 184, 185, 0.6);
          box-shadow: 0 0 8px rgba(186, 184, 185, 0.6);
}
.lecturebox:hover {
  border-color: rgba(82, 168, 236, 0.9);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.8);
          box-shadow: 0 0 8px rgba(82, 168, 236, 0.8);
}

.lecturebox h1 {
  line-height: 1;
  color: inherit;
}

.lecturebox p {
  line-height: 1.4;
}
.lecturebox .header {
  height:125px;
  background: url('../img/lectures.jpg') repeat scroll top left;
	-o-background-size: 100% 100%;
	-ms-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
  
  border-radius: 6px 6px 0px 0px;
}
.lecturebox .icon {
  height:70px;
  width:70px;
  background: url('../img/lecturesicon.png') no-repeat scroll center center;
  margin-top:-35px;
  margin-left:auto;
  margin-right:auto;
	-o-background-size: 100% 100%;
	-ms-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.lecturebox .body {
  padding: 5px;
}
@media screen and (min-width: 768px) {
  .lecturebox {
    padding: 0px;
    border-radius: 6px;
  }
  .lecturebox h1 {
    font-size: 60px;
  }
}

/* Footer */
footer {
  padding-top: 40px;
  background-color: #ededed;
  border-top: 1px solid #dedddd;
}
.copyright {
  color: #2a99d8;
  padding-top:20px;
  margin-bottom:30px;
}
.lyuinfo {
  background:url('../img/lyu.png') no-repeat scroll top left;
  padding-top:60px;
}
.otherinfo, .tqqinfo, .sponsorinfo {
  padding-top:22px;
}


/* Banner */
.banner {
	position: relative;
	width: 100%;
	overflow: auto;

	font-size: 18px;
	line-height: 24px;
	text-align: center;

	color: rgba(255,255,255,.6);
	text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);

	background: #5b4d3d;
	box-shadow: 0 1px 2px rgba(0,0,0,.25);
}
	.banner ul {
		list-style: none;
		width: 300%;
	}
	.banner ul li {
		display: block;
		float: left;
		width: 33%;
		min-height: 350px;

		-o-background-size: 100% 100%;
		-ms-background-size: 100% 100%;
		-moz-background-size: 100% 100%;
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;

		box-shadow: inset 0 -3px 6px rgba(0,0,0,.1);
	}

	.banner .inner {
		padding: 60px 0 50px;
	}

	.banner h1, .banner h2 {
		font-size: 40px;
		line-height: 52px;

		color: #fff;
	}

	.banner .btn {
		display: inline-block;
		margin: 25px 0 0;
		padding: 9px 22px 7px;
		clear: both;

		color: #fff;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;

		border: 2px solid rgba(255,255,255,.4);
		border-radius: 5px;
	}
		.banner .btn:hover {
			background: rgba(255,255,255,.05);
		}
		.banner .btn:active {
			-webkit-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
			-moz-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
			-ms-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
			-o-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
			filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
		}

	.banner .btn, .banner .dot {
		-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	}

	.banner .dots {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 20px;
	}
		.banner .dots li {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 4px;

			text-indent: -999em;

			border: 2px solid #fff;
			border-radius: 6px;

			cursor: pointer;
			opacity: .4;

			-webkit-transition: background .5s, opacity .5s;
			-moz-transition: background .5s, opacity .5s;
			transition: background .5s, opacity .5s;
		}
			.banner .dots li.active {
				background: #fff;
				opacity: 1;
			}

	.banner .arrows {
		position: absolute;
		bottom: 20px;
		right: 20px;
		color: #fff;
	}
		.banner .arrow {
			display: inline;
			padding-left: 10px;
			cursor: pointer;
		}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 900px) {
	.banner h1, .banner h2 {
		font-size: 24px;
		line-height: 30px;
	}
	.banner ul li {
		height: 240px;
	}
	.banner .inner {
		padding-top: 100px;
		padding-bottom: 50px;
	}
	.banner p {
		font-size: 15px;
		width: 80%;
		margin: 0 auto;
	}
	pre {
		overflow: auto;
	}
}
/* ==========================================================================
   lecture's styles
   ========================================================================== */
.title {
  height:150px;
  margin-bottom:20px;
	-o-background-size: 100% 100%;
	-ms-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	box-shadow: inset 0 -3px 6px rgba(0,0,0,.1);
	font-size: 18px;
	line-height: 24px;
	color: rgba(255,255,255,.6);
	text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);
	box-shadow: 0 1px 2px rgba(0,0,0,.25);
}
	.title .inner {
		padding: 30px 0 50px;
	}
	.title h1, .title h2 {
		font-size: 40px;
		line-height: 52px;
		color: #fff;
	}
.lecturepage {
  margin-top:-95px;
}
